name: Release

on:
  release:
    types:
      - created

# Releases need permissions to read and write the repository contents.
# GitHub considers creating releases and uploading assets as writing contents.
permissions:
  contents: read

env:
  TAG: ${{ github.event.release.tag_name }}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Install kiln
        run: |
          KILNREL=$(basename $(curl -Ls -o /dev/null -w %{url_effective} https://github.com/pivotal-cf/kiln/releases/latest) | sed s/v//g)
          curl -sSLo /tmp/kiln https://github.com/pivotal-cf/kiln/releases/latest/download/kiln-linux-amd64-${KILNREL}
          chmod +x /tmp/kiln && sudo mv /tmp/kiln /usr/local/bin/kiln

      - name: Set Release Version
        run: |
          echo "VERSION=$(echo $TAG | sed s/v//g)" >> $GITHUB_ENV

      - name: Create pivotal tile
        run: |
          sed "s/[0-9][0-9.]*/$VERSION/g" -i tile/version
          cd tile && kiln bake --skip-fetch --final -o crowdstrike-falcon-cf-${VERSION}.pivotal

      - name: Update artifacts to release
        run: |
          gh release upload $TAG tile/releases/falcon-boshrelease.tgz tile/*.pivotal
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
